.cart-item {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__img {
    width: 6rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__content {
    font-size: 1.4rem;
  }
}
